{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Virtual Sailing</span> <span class="smaller">Leaderboard</span></h1>
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
  <p>{{ request.exception.message if request.exception.message }}
</div>
{% endblock content %}
