{% from "macros.jinja" import text_box, check_box, text_area with context %}
{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h2>{{"Submit/" if item.event}}Upload Recording</h2>
  <span>{{ "for %s" % item.event.name if item.event }} </span>
  <div class="row p-4">
  </div>
  <form action="{{save_url}}" method="post" enctype="multipart/form-data">
    <div class="form-group row">
      <label for="fileupload" class="col-sm-2 col-form-label">Upload recording file</label>
      <div class="col-sm-4">
        <input type="file" class="form-control-file" id="fileupload" name="fileupload" accept=".sbp">
      </div>
    </div>
  {{ text_area("Recording notes", "notes", item.notes, rows=2) }}
  <button type="submit" class="btn btn-primary" name="form.submitted">Submit</button>
</form>
</div>
{% endblock content %}
