{% from "macros.jinja" import text_box, check_box, text_area with context %}
{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h2>{{"Submit/" if event}}Upload Recording</h2>
  <span>{{ "for %s" % event.name if event }} </span>
  <div class="row p-4">
{% if event and recordings.count() > 0 %}
<h3> Select recording</h3>
<table class="table">
<thead>
  <tr>
    <th scope="col">Time</th>
    <th scope="col">Boat</th>
    <th scope="col">Course</th>
    <th scope="col">Laps</th>
    <th scope="col">Uploaded</th>
    <th scope="col">Gusts</th>
    <th scope="col">Note</th>
    <th scope="col"><abbr title="Modified settings during race">Mod.</abbr></th>
  </tr>
</thead>
<tbody>
{% for r in recordings %}
{% set l = 'add_recording_to_event'|route_url(eid=event.id, iid=r.id) %}
  <tr>
    <td class="align-middle"><a href="{{l}}">{{ r.time|round(3) }}</a></td>
    <td class="align-middle"><a href="{{l}}">{{ r.boat.name }}</a></td>
    <td class="align-middle"><a href="{{l}}">{{ r.course.name }}{{ " - Big" if r.bigcourse }}</a></td>
    <td class="align-middle"><a href="{{l}}">{{ r.laps }}</a></td>
    <td class="align-middle"><a href="{{l}}"><span class="timespec">{{ r.datetime }}</span></a></td>
    <td class="align-middle"><a href="{{l}}">{{ r.gusts.name }}</a></td>
{% if r.notes is none or (r.notes and r.notes|length < 15) %}
    <td class="align-middle"><a href="{{l}}">{{ r.notes if r.notes else "&nbsp;"|safe }}</a></td>
{% else %}
    <td class="align-middle"><a href="{{l}}"><abbr title="{{ r.notes[:15] }}">{{r.notes}}</abbr></a></td>
{% endif %}
    <td class="align-middle"><a href="{{l}}">{{ '\u2714' if r.modified else "&nbsp;"|safe }}</a></td>
  </tr>
{% endfor %}
</tbody>
</table>
<h3> Or upload new recording</h3>
{% endif %}
  </div>
  <form action="{{save_url}}" method="post" enctype="multipart/form-data">
    <div class="form-group row">
      <label for="fileupload" class="col-sm-2 col-form-label">Upload recording file</label>
      <div class="col-sm-4">
        <input type="file" class="form-control-file" id="fileupload" name="fileupload" accept=".sbp">
      </div>
    </div>
  {{ text_area("Recording notes", "notes", item.notes, rows=2) }}
  <button type="submit" class="btn btn-primary" name="form.submitted">Submit</button>
</form>
</div>
{% endblock content %}
