{% from "macros.jinja" import text_box, check_box, text_area, text_display, datetime_inline, radio with context %}
{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>Event - {{"New" if item.id is none else item.id}}</h1></div>
    <div class="col my-auto">
{% if (request.user and request.user.isAdmin()) and item.id %}
      <a class="btn btn-danger" href="{{request.route_url('delete_event', iid=item.id)}}" role="button">Delete</a>
{% endif %}
    </div>
  </div>
  <form action="{{save_url}}" method="post">
  {{ text_box("Event name", "eventName", item.name) }}
  {{ text_box("Ordering indexer", "orderIndex", item.order) }}
  {{ datetime_inline("Event Start", "eventStart", item.start) }}
  {{ datetime_inline("Event End", "eventEnd", item.end) }}
  {{ check_box("Current (makes this the current/active event)", "currentCheck", item.current) }}
  {{ text_display("Event Restrictions", "restricttext", "") }}
  {{ radio("Course", [[Course.Triangular.name, Course.Triangular.value],
    [Course.Trapezoidal.name, Course.Trapezoidal.value], [Course.CrossWind.name, Course.CrossWind.value],
    [Course.UpDownWind.name, Course.UpDownWind.value, "4"], [Course.none.name, Course.none.value]],
    "courseRadio", item.course.value) }}
  {{ radio("Laps", [["1", "1"], ["2", "2"], ["3", "3"]], "laps", item.laps) }}
  {{ radio("Big course", [["No", "no"], ["Yes", "yes"]], "bigRadio", "yes" if item.bigcourse else "no") }}
  {{ check_box("Enforce Rams", "ramsCheck", 1 if item.rams else 0) }}
  {{ radio("Gusts", [["Any Option", Gusts.any.value], [Gusts.random.name, Gusts.random.value],
    [Gusts.repeat.value, Gusts.repeat.value], [Gusts.none.name, Gusts.none.value]],
    "gustsRadio", item.gusts.value) }}
  {{ text_area("Event Notes/Rules", "notes", item.notes) }}
  <button type="submit" class="btn btn-primary" name="form.submitted">Submit</button>
</form>
<div class="row">
{% if item.createdip %}
  <div class="col">Created IP</div>
  <div class="col">{{item.createdip}}</div>
{% endif %}
{% if item.modip %}
  <div class="col">Modified IP</div>
  <div class="col">{{item.modip}}</div>
{% endif %}
</div>
</div>
{% endblock content %}
