{% from "macros.jinja" import timeclass %}
{% extends "layout.jinja2" %}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>Users</h1></div>
    <div class="col my-auto">
{% if request.user and request.user.isAdmin() %}
{#      <a class="btn btn-primary" href="{{'add_user'|route_url}}" role="button">New</a> #}
{% endif %}
    </div>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Display Name</th>
      <th scope="col">Role</th>
      <th scope="col">No. Recordings</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
{% set l = request.route_url('edit_user', iid=item.id) %}
{% set lr = request.route_url('list_recording', _query={'user':item.id}) %}
    <tr>
      <td><a href="{{l}}">{{ item.id }}</a></td>
      <td><a href="{{l}}">{{ item.email }}</a></td>
      <td><a href="{{l}}">{{ item.name }}</a></td>
      <td><a href="{{l}}">{{ item.role }}</a></td>
      <td><a href="{{lr}}">{{ item.recordings|length }} (View)</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
