{% extends "layout.jinja2" %}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>Recordings</h1></div>
    <div class="col my-auto">
{% if request.user %}
      <a class="btn btn-outline-primary" href="{{'add_recording'|route_url }}" role="button">Upload</a>
{% endif %}
    </div>
  </div>
{% if filters: %}
  <div class="row">
    <div class="col">
      <p>
        <strong>Filters:</strong> {{filters}}
      </p>
    </div>
  </div>
{% endif %}
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><abbr title="Modified settings during race">Mod.</abbr></th>
      <th scope="col">Time</th>
      <th scope="col">Boat</th>
      <th scope="col">Course</th>
      <th scope="col">Laps</th>
      <th scope="col">Wind Speed</th>
      <th scope="col">Gusts</th>
      <th scope="col">Rams</th>
      <th scope="col">User</th>
      <th scope="col">Uploaded</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for item in items %}
{% set l = 'view_recording'|route_url(iid=item.id) %}
{% set lr = 'list_recording'|route_url(_query={'user':item.user_id}) %}
{% set le = 'edit_recording'|route_url(iid=item.id) %}
{% set ld = 'serve_recording'|route_url(iid=item.id) %}
    <tr>
      <td scope="row"><a href="{{l}}">{{ loop.index }}</a></td>
      <td><a href="{{l}}">{{ '\u2714' if item.modified }}</a></td>
      <td><a href="{{l}}">{{ item.time|round(3) }}</a></td>
      <td><a href="{{l}}">{{ item.boat.name }}</a></td>
      <td><a href="{{l}}">{{ item.course.name }}{{ " - Big" if item.bigcourse }}</a></td>
      <td><a href="{{l}}">{{ item.laps }}</a></td>
      <td><a href="{{l}}">{{ item.windspeedknt|round }}</a></td>
      <td><a href="{{l}}">{{ item.gusts.name }}</a></td>
      <td><a href="{{l}}">{{ "ON" if item.rams else "OFF" }}</a></td>
      <td><a href="{{lr}}">{{ item.user.name }}</a></td>
      <td><a href="{{l}}"><span class="timespec">{{ item.datetime }}</span></a></td>
      <td>
{% if request.user and (request.user.isAdmin() or request.user == item.user) %} <a class="btn btn-outline-primary" href="{{le}}">Edit</a> {% endif %}
        <a class="btn btn-outline-info" href="{{ld}}"><i class="fa fa-download"></i></a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
