{% from "macros.jinja" import timeclass %}
{% extends "layout.jinja2" %}

{% block content %}
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>Events</h1></div>
    <div class="col my-auto">
{% if request.user and request.user.isAdmin() %}
      <a class="btn btn-primary" href="{{'add_event'|route_url}}" role="button">New</a>
{% endif %}
    </div>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Pinned</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
      <th scope="col">Event name</th>
      <th scope="col">No. of entries</th>
{% if request.user and request.user.isAdmin() %} <th scope="col">Edit</th> {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
{% set l = request.route_url('view_event', iid=item.id) %}
{% set l = request.route_url('view_event', iid=item.id) %}
    <tr>
      <td><a href="{{l}}">{{ '\u2714' if item.current else "&nbsp;"|safe }}</a></td>
      <td class="{{timeclass(now, item)}}"><a href="{{l}}"><span class="timespec">{{ item.start }}</span></a></td>
      <td class="{{timeclass(now, item, False)}}"><a href="{{l}}"><span class="timespec">{{ item.end }}</span></a></td>
      <td><a href="{{l}}">{{ item.name }}</a></td>
      <td><a href="{{l}}">{{ item.recordings|length }}</a></td>
{% if request.user and request.user.isAdmin() %} <td><a class="btn btn-outline-primary btn-sm" href="{{request.route_url('edit_event', iid=item.id)}}">Edit</a></td> {% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}
