{% set BOOTSTRAP_ALERT = {"s" : "alert-success", "d": "alert-danger"} %}

{% macro nav_link(link, text, section) %}
<li class="nav-item {{ 'active' if request.section == section }}">
  <a class="nav-link" href="{{link}}">{{text}}
    {% if section == request.section %}
      <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>
{% endmacro %}

{% macro text_box(label, eid, value, type="text", row=True, size=3, disabled=False) %}
<div class="form-group {{ "form-row" if row }}">
  <label for="{{eid}}" {{ ('class="col-sm-%s col-form-label"' % size)|safe if row }}>{{label}}</label>
{% if row %}<div class="{{ 'col-sm-%s' % (size+2)|string }}">{% endif %}
  <input type="{{type}}" class="form-control" id="{{eid}}" name="{{eid}}" value="{{value if value}}">
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro text_display(label, eid, value, type="text", row=True, size=3, disabled=False) %}
<div class="form-group {{ "form-row" if row }}">
  <label for="{{eid}}" {{ ('class="col-sm-%s col-form-label"' % size)|safe if row }}>{{label}}</label>
{% if row %}<div class="{{ 'col-sm-%s' % (size+2)|string }}">{% endif %}
  <input type="{{type}}" readonly class="form-control-plaintext" id="{{eid}}" value="{{value if value}}">
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro check_box(label, eid, value, row=True, size=3, title="") %}
{% if row %}
<div class="form-group row">
<!--  <div class="{{ 'col-sm-%s' % (size)|string }}"></div> -->
  <legend class="col-form-label {{ ('col-sm-%s' % size)|safe }} pt-0">{{title}}</legend>
  <div class="{{ 'col-sm-%s' % (size+2)|string }}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="{{eid}}" name="{{eid}}" {{"checked" if value}}>
      <label class="form-check-label" for="{{eid}}">{{label}}</label>
    </div>
  </div>
</div>
{% else %}
<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="{{eid}}" name="{{eid}}" {{"checked" if value}}>
  <label class="form-check-label" for="{{eid}}">{{label}}</label>
</div>
{% endif %}
{% endmacro %}

{% macro text_area(label, eid, value, rows=5, row=True, size=3) %}
<div class="form-group {{ "form-row" if row }}">
  <label for="noteText" {{ ('class="col-sm-%s col-form-label"' % size)|safe if row }}>{{label}}</label>
{% if row %}<div class="{{ 'col-sm-%s' % (size+2)|string }}">{% endif %}
  <textarea class="form-control" id="noteText" name="{{eid}}" rows="{{rows}}">{{value if value}}</textarea>
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro button(label, name="form.submitted", row=True, size=3) %}
<div class="form-group {{ "form-row" if row }}">
{% if row %}<div class="{{ 'col-sm-%s' % (size+1)|string }}">{% endif %}
    <button type="submit" name="{{name}}" value="{{label}}" class="btn btn-primary">{{label}}</button>
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro makealert(s) %}
{% set msg = s.split("|", 1) %}
<p class="alert {{ BOOTSTRAP_ALERT[msg[0]] }}">{{msg[1]}}</p>
{% endmacro %}


{% macro multi_select(label, options, eid, value=None, size=3, inline=True, type="radio") %}
<fieldset class="form-group">
  <div class="row">
    <legend class="col-form-label {{ ('col-sm-%s' % size)|safe }} pt-0">{{label}}</legend>
    <div class="{{ 'col-sm-%s' % (size+3)|string }}">
  {% for opt in options %}
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="{{type}}" name="{{eid}}" value="{{opt[1]}}" {{"checked" if opt[1] in value else ""}}>
        <label class="form-check-label" for="{{'eid-%s' % opt[1]}}">
          {{opt[0]}}
        </label>
      </div>
  {% endfor %}
    </div>
  </div>
</fieldset>
{% endmacro %}

{% macro datetime(label, eid, value, size=3) %}
<div class="row">
  <legend class="col-form-label {{ ('col-sm-%s' % size)|safe }} pt-0">{{label}}</legend>
  <div class="col-sm-6">
      <div class="form-group">
          <div class="input-group date" id="{{eid}}" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#{{eid}}"/>
              <div class="input-group-append" data-target="#eid" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#{{eid}}').datetimepicker();
      });
  </script>
</div>
{% endmacro %}
{% macro datetime_inline(label, eid, value, size=3, minfield="", maxfield="") %}
<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <label for="{{eid}}" {{ ('class="col-sm-%s col-form-label"' % size)|safe }}>{{label}}</label>
            <div class="col-md-8">
                <div id="{{eid}}"></div>
            </div>
        </div>
    </div>
    <input id="{{eid}}-dt" name="{{eid}}-dt" type="hidden" value="{{value if value}}">
    <script type="text/javascript">
        $(function () {
            $('#{{eid}}').datetimepicker({
                inline: true,
                sideBySide: true,
{% if value %}  date: moment.utc("{{ value|dtiso}}").local() {% endif %}
            });
            $('#{{eid}}').on("change.datetimepicker", function (e) {
              $('#{{eid}}-dt').val(e.date.utc().format())
{% if minfield %}$('#{{minfield}}').datetimepicker('minDate', e.date){% endif %}
{% if maxfield %}$('#{{maxfield}}').datetimepicker('maxDate', e.date){% endif %}
            });
        });
    </script>
</div>
{% endmacro %}

{% macro timeclass(now, e, start=True) %}
{% if start %}
{% if now < e.start %}timebad{% elif now > e.end %}{% else %}timegood{% endif %}
{% else %}
{% if now > e.end %}timebad{% elif now < e.start %}{% else %}timegood{% endif %}
{% endif %}
{% endmacro %}
