{% set BOOTSTRAP_ALERT = {"s" : "alert-success", "d": "alert-danger"} %}

{% macro nav_link(link, text, section) %}
<li class="nav-item {{ 'active' if request.section == section }}">
  <a class="nav-link" href="{{link}}">{{text}}
    {% if section == request.section %}
      <span class="sr-only">(current)</span>
    {% endif %}
  </a>
</li>
{% endmacro %}

{% macro text_box(label, eid, value, type="text", row=True, size=2, disabled=False) %}
<div class="form-group {{ "form-row" if row }}">
  <label for="{{eid}}" {{ ('class="col-sm-%s col-form-label"' % size)|safe if row }}>{{label}}</label>
{% if row %}<div class="{{ 'col-sm-%s' % (size+2)|string }}">{% endif %}
  <input type="{{type}}" class="form-control" id="{{eid}}" name="{{eid}}" value="{{value if value}}">
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro check_box(label, eid, value, row=True, size=2) %}
{% if row %}
<div class="form-group row">
  <div class="{{ 'col-sm-%s' % (size)|string }}"></div>
  <div class="{{ 'col-sm-%s' % (size+2)|string }}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="{{eid}}" name="{{eid}}" {{"checked" if value}}>
      <label class="form-check-label" for="{{eid}}">{{label}}</label>
    </div>
  </div>
</div>
{% else %}
<div class="form-group form-check">
  <input type="checkbox" class="form-check-input" id="{{eid}}" name="{{eid}}" {{"checked" if value}}>
  <label class="form-check-label" for="{{eid}}">{{label}}</label>
</div>
{% endif %}
{% endmacro %}

{% macro text_area(label, eid, value, rows=5, row=True, size=2) %}
<div class="form-group {{ "form-row" if row }}">
  <label for="noteText" {{ ('class="col-sm-%s col-form-label"' % size)|safe if row }}>{{label}}</label>
{% if row %}<div class="{{ 'col-sm-%s' % (size+2)|string }}">{% endif %}
  <textarea class="form-control" id="noteText" name="{{eid}}" rows="{{rows}}">{{value if value}}</textarea>
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro button(label, name="form.submitted", row=True, size=2) %}
<div class="form-group {{ "form-row" if row }}">
{% if row %}<div class="{{ 'col-sm-%s' % (size+1)|string }}">{% endif %}
    <button type="submit" name="{{name}}" value="{{label}}" class="btn btn-primary">{{label}}</button>
{% if row %}</div>{% endif %}
</div>
{% endmacro %}

{% macro makealert(s) %}
{% set msg = s.split("|", 1) %}
<p class="alert {{ BOOTSTRAP_ALERT[msg[0]] }}">{{msg[1]}}</p>
{% endmacro %}
