{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>{{item.name}}</h1></div>
    <div class="col my-auto">
{% if request.user and request.user.isAdmin() %}
      <a class="btn btn-primary" href="{{request.route_url('edit_event', iid=item.id)}}" role="button">Edit</a>
{% endif %}
    </div>
  </row>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><abbr title="Modified settings during race">Mod.</abbr></th>
      <th scope="col">Time</th>
      <th scope="col">Boat</th>
      <th scope="col">Course</th>
      <th scope="col">Laps</th>
      <th scope="col">Uploaded</th>
      <th scope="col">User</th>
      <th scope="col">Gusts</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td scope="row">{{ loop.index }}</td>
      <td>{{ '\u2714' if item.modified }}</td>
      <td>{{ item.time }}</td>
      <td>{{ item.boat.name }}</td>
      <td>{{ item.course }} - {{ "Big" if item.bigcourse }}</td>
      <td>{{ item.laps }}</td>
      <td>{{ item.datetime }}</td>
      <td>{{ item.user.name }}</td>
      <td>{{ item.gusts }}</td>
{% if request.user and (request.user.isAdmin() or request.user == item.user) %} <td><a class="btn btn-outline-primary" href="#">Edit</a></td> {% endif %}
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
