{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>{{item.name}}</h1></div>
    <div class="col my-auto">
{% if item.active() and request.user %}
      <a class="btn btn-outline-primary" href="{{'add_recording_id'|route_url(eventid=item.id) }}" role="button">Add Recording</a>
{% endif %}
{% if request.user and request.user.isAdmin() %}
      <a class="btn btn-primary" href="{{edit_url}}" role="button">Edit</a>
{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Event Start: <span class="timespec">{{item.start}}</span><br>
      Course: {{item.course.name}} {{"- Big" if item.bigcourse}}<br>
      Windspeed: <= {{item.windspeedknt}}<br>
      Gusts: {{item.gusts.name}}<br>
    </div>
    <div class="col">
      Event End: <span class="timespec">{{item.end}}</span><br>
      Laps: {{item.laps}}<br>
      Rams: {{"Required" if item.rams else "Optional"}}<br>
      Allowed boats: {{boats}}
    </div>

  </div>
  <div class="row"><div class="col">
    {{item.notes|markdown}}
  </div></div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time</th>
      <th scope="col">Boat</th>
      <th scope="col">Course</th>
      <th scope="col">Laps</th>
      <th scope="col">Uploaded</th>
      <th scope="col">User</th>
      <th scope="col">Gusts</th>
      <th scope="col">Note</th>
      <th scope="col"><abbr title="Modified settings during race">Mod.</abbr></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% for r in item.recordings %}
{% set l = 'view_recording'|route_url(iid=r.id) %}
{% set lr = 'event_rm_recording'|route_url(iid=r.id, eid=item.id) %}
{% set le = 'edit_recording'|route_url(iid=r.id) %}
    <tr>
      <td class="align-middle" scope="row"><a href="{{l}}">{{ loop.index }}</a></td>
      <td class="align-middle"><a href="{{l}}">{{ r.time|round(3) }}</a></td>
      <td class="align-middle"><a href="{{l}}">{{ r.boat.name }}</a></td>
      <td class="align-middle"><a href="{{l}}">{{ r.course.name }}{{ " - Big" if r.bigcourse }}</a></td>
      <td class="align-middle"><a href="{{l}}">{{ r.laps }}</a></td>
      <td class="align-middle"><a href="{{l}}"><span class="timespec">{{ r.datetime }}</span></a></td>
      <td class="align-middle"><a href="{{l}}">{{ r.user.name }}</a></td>
      <td class="align-middle"><a href="{{l}}">{{ r.gusts.name }}</a></td>
{% if r.notes is none or (r.notes and r.notes|length < 15) %}
      <td class="align-middle"><a href="{{l}}">{{ r.notes if r.notes else "&nbsp;"|safe }}</a></td>
{% else %}
      <td class="align-middle"><a href="{{l}}"><abbr title="{{ r.notes[:15] }}">{{r.notes}}</abbr></a></td>
{% endif %}
      <td class="align-middle"><a href="{{l}}">{{ '\u2714' if r.modified else "&nbsp;"|safe }}</a></td>
      <td class="align-middle"><a href="{{l}}">
{% if request.user and (request.user.isAdmin() or request.user == r.user) %}<a class="btn btn-outline-primary" href="{{le}}">Edit</a> {% endif %}
{% if request.user and (request.user.isAdmin() or request.user == r.user) %}<a class="btn btn-outline-warning" href="{{lr}}"><i class="far fa-trash-alt"></i></a>{% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock content %}
