{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col"></div>
    <div class="col"><h1>Recording</h1></div>
    <div class="col my-auto">
{% if (request.user and request.user.isAdmin()) or (request.user and item.user == request.user) %}
      <a class="btn btn-primary" href="{{'edit_recording'|route_url(iid=item.id)}}" role="button">Edit</a>
{% endif %}
      <a class="btn btn-primary" href="{{'serve_recording'|route_url(iid=item.id)}}" role="button">Download</a>
    </div>
  </div>
  <div class="row"><div class="col">
    {{item.notes|safe}}
  </div></div>
  <div class="row">
    <div class="col">
      <p>Time: {{item.time}}<br>
        Course: {{item.course.name}} {{ " - Big" if item.bigcourse }}<br>
        Laps: {{item.laps}}<br>
        Gusts: {{item.gusts.name}}<br>
      </p>
    </div>
    <div class="col">
      <p>User: {{item.user.name}}<br>
        Uploaded date/time: <span class="timespec">{{item.datetime}}</span><br>
        Downloads: {{item.downloads}}<br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
{% for com in item.comments %}
  <h4>{{com.user.name}}</h4><br>
  {{com.content|markdown}}
{% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
  function formatdate() {
    moment.defaultFormat = "YYYY/MM/DD hh:mm A";
    for (let elem of document.getElementsByClassName("timespec")) {
      elem.innerText = moment.utc(elem.innerText).local().format()
    };
  }
  window.addEventListener("DOMContentLoaded", formatdate);
</script>
{% endblock content %}
